<!-- Create your form here -->
<h2>Student Form</h2>

<%= form_tag "/students", method: :post do %>
  <label for="first_name">First Name: </label>
  <%= text_field_tag :first_name %>
  <label for="last_name">Last Name: </label>
  <%= text_field_tag :last_name %>
  <%= submit_tag "Submit Student"%>

<% end %>
